:root{
  --base-color: #000000;
  --in-process: #0F6292;
  --active: #16FF00;
  --finished: #FFED00;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 10px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 200ms;
}

body{
  background-color: #000000;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

#grid{
  display: flex;
  flex-direction: column;
  border-collapse: collapse;
  border: 2px solid white;
  margin-bottom: 1rem;
  
  color: white;
}

.col{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border: 2px solid white;
  font-size: 3rem;

}

.row{
  display: flex;
}

.options{
  display: flex;
  gap: 1rem;
}


.options button{
  padding: 1rem 2rem;
  font-size: 2rem;
  border: none;
  color: black;
  background-color: white;
  font-weight: bolder;
}

.options button:hover{

  color: black;
  background-color: white;
  padding: 1.2rem 2.3rem;
}

[data-state="in-process"]{
  color: var(--in-process);
}

[data-state="active"]{
  color: var(--active);
}

